DATABASE_URL= 'yourdatabaseurl'
GOOGLE_CLIENT_ID="your google client id"
GOOGLE_CLIENT_SECRET="your google client secret"
NEXTAUTH_SECRET="your next auth secret"
NEXT_PUBLIC_GET_STREAM_API_KEY="your gestream api key"
GET_STREAM_SECRET_KEY="your getstream secret key"